
@{
    ViewBag.Title = "Index";
}

<h2>Hola Amigos</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ZN_1XeQpjSY" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>